<form action="/todos/{{ todo._id }}/edit" method="POST">
  <input type="text" name="name" value="{{ todo.name }}" placeholder="edit name...">
  <button type="submit">save</button>
  
  <a href="/">back</a>
  
</form>